body{
    background-color: rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
}
.main-container{
    margin-top: 10px;
    box-sizing: border-box;
    position: relative;
    left: -10px;
}
.top-navbar{
    box-shadow: 0 0 2px gray;
}
.center-navbar-alignment{
    height: 50px;
    display: flex;
    position: relative;
    top: -15px;
}
.sidebar{
    margin-bottom: 30px;
}
a{
    color: black;
}
.sidebar > a, .selection > a{
    font-family: sans-serif;
    min-width: 100%;
    padding: 7px 5px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}
.sidebar > a:hover, .hover-effect > a:hover, .highlighted-articles > div:hover{
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(229, 233, 238);
}
.icon-container{
    margin-top: 30px;
    color: gray;
}
.icon-container > i{
    margin-left: 5px;
    margin-right: 10px;
    font-size: 25px;
}
.icon-container > i:hover{
    color:rgb(83, 83, 83);
}
.tags-container{
    height: 200px;
    overflow: auto;
}
.selection{
    display: flex;
    align-items: center;
    position: relative;
}
.selection > button{
    display: none;
    position: absolute;
    right: 5px;
}
.selection > a:hover + button, .selection > button:hover{
   display: block;
   animation-name: fadeInOpacity;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   animation-duration: 0.3s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.active{
    position: relative;
}
.active:after{
    content: "";
    display: block;
    margin-top: auto;
    margin-top: 6px;
    border-bottom: 2px solid  #4150f5;
}
.option-container{
    height: 40px;
}
.active:hover::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
}
.card-background{
    width: 325.5px;
    background-color: #f8f8f2;
}
.login-card{
    height: 325px;
}
.coronadetails-card{
    height: 152px;
}
.highlighted-articles{
    height: 400px;
    overflow: auto;
}
.highlighted-articles > div{
    padding: 10px 5px;
    border-bottom: 1px solid  rgb(230, 229, 229);
}